<!doctype HTML>
<html>
  <head>
    <title>Marvel Questionnaire</title>
    <!-- When importing css files using flask we need a slightly different url format
         You'll need to have your style.css file in the static folder -->
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
  </head>
  <body>
    <div class="content">
      <div class="form">
        <!-- Creating a simple form with one textbox,
            the result of which will be sent to the /lookup endpoint
            which flask should be handling -->
        <form method='post' action="/lookup">
          <label for="arrows">Question 1: Do you like arrows?</label><br>
          <input type="radio" name="arrows" value="yes">Yes<br>
          <input type="radio" name="arrows" value="no">No<br>

          <label for="iron">Question 2: Do you like iron?</label><br>
          <input type="radio" name="iron" value="yes">Yes<br>
          <input type="radio" name="iron" value="no">No<br>

          <label for="america">Question 3: Do you really like America?</label><br>
          <input type="radio" name="america" value="yes">Yes<br>
          <input type="radio" name="america" value="no">No<br>

          <label for="temper">Question 4: Do you have a bad temper?</label><br>
          <input type="radio" name="temper" value="yes">Yes<br>
          <input type="radio" name="temper" value="no">No<br>

          <input type="submit"/>
        </form>
      </div>

      <!-- Here we are using the conditional syntax to only show
          the contained html when we have a result to show -->
      {% if result %}
      <div>
        <!-- Pulling out of the result object the different values we passed through -->
        <h1>Your character is: {result.name}</h1>
      </div>
      {% endif %}
    </div>
  </body>
</html>
